.Car {
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: border, box-shadow .3s;
}

.input {
  &:active, &:focus {
    outline: none;
  }

  &.green {
    border: 1px solid green;
  }

  &.red {
    border: 1px solid red;
  }

  &.bold {
    border: 2px solid green;
    font-weight: bold;
  }

}
