.Car {
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: border, box-shadow .3s;
  border: 1px solid #ccc;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14);
  &:hover {
    border: 1px solid #aaa;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.25);
    cursor: pointer;
  }
}

.input {
  &:active, &:focus {
    outline: none;
  }

  &.green {
    border: 1px solid green;
  }

  &.red {
    border: 1px solid red;
  }

  &.bold {
    border: 2px solid green;
    font-weight: bold;
  }

}
